* {
    margin: 0;
    text-align: justify;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

.video-container {
    display: flex;
    position: fixed;
    top: -15px;
    right: 10px;
    overflow: hidden;
    z-index: 1; /* Asegura que el video esté por debajo de otros elementos */
}

video {
    filter: grayscale(100%);
    width: 4640%;
    height: 4800%;
    margin-right: 90px;
}

.contenedor-imagen {
    position: relative;
}

.btn1 {
    font-family: 'DM Sans', sans-serif;
    font-size: solid black;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 2; /* Coloca el botón por encima de la imagen */
}

button {
    display: flex;
    flex-direction: column;
    margin-left:165px;
    margin-top: 540px;
    height: 40px;
    width: 240px;
    letter-spacing: 1px;
    transition: 0.3s linear;
    cursor: pointer;
    font-size: 11px;
    background-color: white;
    border: 1px solid #000;
}

.imagen {
    display: flex;
    justify-content: flex-start;
    margin-left: 80px;
    width: 650px;
    height: 650px;
}
