* {
    margin: 0px;
    padding: 0px;
}
.nav {
    display: flex;
    background: linear-gradient(to right, #8f9fae, #1d9fce);
    padding: 25px;
    justify-content: center;
    font-family: 'Fira Sans Extra Condensed', sans-serif;    flex: 1;
    
}

.nav .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-right: 150px;

}

.nav h1 {
    font-size: 60px;
    color: #062424;
}

.nav h4 {
    font-size: 12px;
    align-items: center;
    letter-spacing: 1px;
    color: #062424;
}

.nav input {
    width: 510px;
    height: 27px;
    display: flex;
    align-items: center;
    text-align: center;
}

a {
    margin-top: 10px;
    font-size: 12px;
    align-items: center;
    letter-spacing: 1px;
    color: #062424;
    display: flex;
    justify-content: center;
}

a:hover {
    color: #d9e3e7;
}

.nav2 {
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.contenedor {
    display: flex;

}

.lado-izquierdo {
    flex: 1;
    padding: 15px;
}

.lado-derecho {
    flex: 1;
    padding: 20px;
    align-items: center;
    margin-right: 100px;
}

.tareas-container {
    display: flex;
    flex-direction: column;
    text-align: justify; 
    justify-content: center;
    align-items: center;
}

.tarea {
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-bottom: 1px;
    margin-top: 15px;
    font-size: 20px;
    width: 100%; /* Asegura que las tareas ocupen todo el ancho disponible */
}

.eliminar-btn {
    background: linear-gradient(to right, #8f9fae, #1d9fce);
    color: white;
    margin-left: 20px;
    border: none;
    padding: 6px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}


.lado-derecho h2 {
    display: flex;
    font-size: 35px;
    margin-top: 20px;
    background-color: #7d9ba9;
    margin-bottom: 10px;
    padding: 20px;
    font-family: 'Fira Sans Extra Condensed', sans-serif;   
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    color: white;
    cursor: pointer;
}

img {
    display: flex;
    width: 150px;
    height: 200px;
    margin-right: 10px;
}

.fotosContainer {
    display: flex;
    flex-wrap: wrap;
}

.foto {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}


.imagen-foto {
    width: 150px;
    height: 200px;
    margin-bottom: 10px;
}

.eliminar-btn {
    background: linear-gradient(to right, #8f9fae, #1d9fce);
    color: white;
    border: none;
    padding: 6px;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 15px;
    position: relative;

}
