* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Yanone Kaffeesatz', sans-serif;    font-style: normal;

}

body {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 text-align: center;
 margin-top: 10%;

}

a {
    margin-top: 25px;
    font-size: 16px; /* Ajusta el tamaño de la fuente del enlace según sea necesario */
    letter-spacing: 1px;
    color:#207394 #062424;
    text-decoration: none; /* Elimina el subrayado del enlace */
    display: inline-block; /* Alinea el enlace horizontalmente */
}

a:hover {
    color: #062424;
}
