* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Yanone Kaffeesatz', sans-serif;    font-style: normal;

}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.main-container {
    text-align: center;
}

.video-container {
    display: flex;
    margin-top: 20px; /* Ajusta el margen superior según sea necesario */
}

video {
    width: 1000px; /* Ajusta el tamaño del video según sea necesario */
    max-width: 800px; /* Establece un ancho máximo para el video */
    height: auto; /* Permite que la altura se ajuste automáticamente */
}

a {
    margin-top: 10px;
    font-size: 16px; /* Ajusta el tamaño de la fuente del enlace según sea necesario */
    letter-spacing: 1px;
    color: #062424;
    text-decoration: none; /* Elimina el subrayado del enlace */
    display: inline-block; /* Alinea el enlace horizontalmente */
}

a:hover {
    color: #d9e3e7;
}
