<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/alpinejs@2.8.2/dist/alpine.js" defer></script>
    <link rel="stylesheet" href="css/pagina.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>
<body class="bg-secondary">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="container-fluid">
        <!-- icono o nombre -->
        <a class="navbar-brand" href="#">
            <i class="bi bi-bezier2"></i>
          <span class="text-warning">Malcom</span>
        </a>

            
        <!-- boton del menu -->

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

          <!-- elementos del menu colapsable -->

        <div class="collapse navbar-collapse" id="menu">
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="index.html">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="galeria.html">Galeria</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="formulario.html">Formulario</a>
              </li>
    
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Calculos
                </a>
  
                <ul class="dropdown-menu bg-light" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="calculadora.html">Calculadora</a></li>
                  <li><a class="dropdown-item" href="formedad.html">Formulario edad</a><li>   
                </ul>
              </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Sobre mi
              </a>

              <ul class="dropdown-menu bg-light" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="seccion1.html">Seccion 1</a></li>
                <li><a class="dropdown-item" href="seccion2.html">Seccion 2</a><li>   
                <li><a class="dropdown-item" href="seccion3.html">Seccion 3</a></li>
              </ul>
            </li>
          </ul>

          <hr class="d-md-none text-white-50">

           <!-- enlaces redes sociales -->
           <ul class="navbar-nav  flex-row flex-wrap text-light">

            <li class="nav-item col-6 col-md-auto p-3">
             <a href="https://instagram.com/br0wed_?igshid=NGVhN2U2NjQ0Yg==" style="color: white; text-decoration: none;">
                 <i class="bi bi-instagram"></i>
                 <small class="d-md-none ms-2">Instagram</small>  
             </a>
             </li>
 
             <li class="nav-item col-6 col-md-auto p-3">
                 <a href="https://github.com/Maalcom/intento" style="color: white; text-decoration: none;">
               <i class="bi bi-github"></i>
               <small class="d-md-none ms-2">GitHub</small> 
             </a>
             </li>
 
             <li class="nav-item col-6 col-md-auto p-3">
                 <a href="https://api.whatsapp.com/send?phone=56954119146&text=" style="color: white; text-decoration: none;">
               <i class="bi bi-whatsapp"></i>
               <small class="d-md-none ms-2">WhatsApp</small>
             </a>
             </li>
 
           </ul>
          
          
          
        </div>
     
        </div>  
      </nav>
      <div class="maain">
        <div class="container text-center">
            <div class="row justify-content-center">
                <div class=" col-10 col-sm-10 col-md-5">
                  <div id="carouselExampleIndicators" class="carousel slide">
                    <div class="carousel-indicators">
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5" aria-label="Slide 6"></button>
                    </div>
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <img src="imagenes/WhatsApp Image 2023-09-25 at 19.10.08.jpeg" class="d-block w-100" alt="...">
                      </div>
                      <div class="carousel-item">
                        <img src="imagenes/WhatsApp Image 2023-09-25 at 19.11.13.jpeg" class="d-block w-100" alt="...">
                      </div>
                      <div class="carousel-item">
                        <img src="imagenes/WhatsApp Image 2023-09-25 at 19.11.48.jpeg" class="d-block w-100" alt="...">
                      </div>
                      <div class="carousel-item">
                        <img src="imagenes/WhatsApp Image 2023-09-25 at 19.12.52.jpeg" class="d-block w-100" alt="...">
                      </div>
                      <div class="carousel-item">
                        <img src="imagenes/WhatsApp Image 2023-09-25 at 19.13.34.jpeg" class="d-block w-100" alt="...">
                      </div>
                      <div class="carousel-item">
                        <img src="imagenes/WhatsApp Image 2023-09-25 at 19.14.50.jpeg" class="d-block w-100" alt="...">
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                    
                  </div>
            </div>
        </div>
      </div>
      </div>
      <div style="margin-top: 100px;">
        <div class="container">
            <div class="row">
                    <div class="expanded-image">
                        <!-- Contenedor de la imagen y la descripción -->
                        <div class="row">
                            <div class="col-8 col-sm-8 col-md-7">
                                <!-- Imagen -->
                                <img src="imagenes/WhatsApp Image 2023-09-25 at 19.10.08.jpeg" class="d-block w-100" alt="...">
                            </div>
                            <div class="col-4 col-sm-4 col-md-5 d-flex align-items-center justify-content-center">
                              <!-- Descripción -->
                              <p class="text-center" style="font-size: 30px; text-align: justify;">Mi novia y yo en el matrimonio del hermano de una amiga</p>
                          </div>
                        </div>
                    </div>
                    <div class="expanded-image">
                      <div class="row">
                        <div class="col-8 col-sm-8 col-md-7">
                            <!-- Imagen -->
                            <img src="imagenes/WhatsApp Image 2023-09-25 at 19.11.13.jpeg" class="d-block w-100" alt="...">
                        </div>
                        <div class="col-4 col-sm-4 col-md-5 d-flex align-items-center justify-content-center">
                          <!-- Descripción -->
                          <p class="text-center" style="font-size: 30px; text-align: justify;">Mi novia y yo en un stand up comedy</p>
                      </div>
                    </div>
                    </div>
                    <div class="expanded-image">
                      <div class="row">
                        <div class="col-8 col-sm-8 col-md-7">
                            <!-- Imagen -->
                            <img src="imagenes/WhatsApp Image 2023-09-25 at 19.11.48.jpeg" class="d-block w-100" alt="...">
                        </div>
                        <div class="col-4 col-sm-4 col-md-5 d-flex align-items-center justify-content-center">
                          <!-- Descripción -->
                          <p class="text-center" style="font-size: 30px; text-align: justify;">Mi familia materna</p>
                      </div>
                    </div>
                    </div>
                    <div class="expanded-image">
                      <div class="row">
                        <div class="col-8 col-sm-8 col-md-7">
                            <!-- Imagen -->
                            <img src="imagenes/WhatsApp Image 2023-09-25 at 19.12.52.jpeg" class="d-block w-100" alt="...">
                        </div>
                        <div class="col-4 col-sm-4 col-md-5 d-flex align-items-center justify-content-center">
                          <!-- Descripción -->
                          <p class="text-center" style="font-size: 30px; text-align: justify;">Fin de semana en mi casa en la playa</p>
                      </div>
                    </div>
                    </div>
                    <div class="expanded-image">
                      <div class="row">
                        <div class="col-8 col-sm-8 col-md-7">
                            <!-- Imagen -->
                            <img src="imagenes/pw.jpg" class="d-block w-100" alt="...">
                        </div>
                        <div class="col-4 col-sm-4 col-md-5 d-flex align-items-center justify-content-center">
                          <!-- Descripción -->
                          <p class="text-center" style="font-size: 30px; text-align: justify;">Dia cualquiera viendo series</p>
                      </div>
                    </div>
                    </div>
                    <div class="expanded-image">
                      <div class="row">
                        <div class="col-8 col-sm-8 col-md-7">
                            <!-- Imagen -->
                            <img src="imagenes/WhatsApp Image 2023-09-25 at 19.14.50.jpeg" class="d-block w-100" alt="...">
                        </div>
                        <div class="col-4 col-sm-4 col-md-5 d-flex align-items-center justify-content-center">
                          <!-- Descripción -->
                          <p class="text-center" style="font-size: 30px; text-align: justify;">Un carrete cualquiera</p>
                      </div>
                    </div>
                    </div>
            </div>
        </div>
    </div>
    

    



      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
      <script>
        $(document).ready(function() {
          $(".expanded-image").hide(); // Ocultar todas las imágenes y descripciones al principio
      
          $(".carousel-inner img").click(function() {
            // Cuando se hace clic en una imagen en el carrusel
            var index = $(this).closest(".carousel-item").index(); // Obtener el índice de la imagen clickeada
            var expandedImage = $(".expanded-image").eq(index);
      
            if (expandedImage.is(":visible")) {
              // Si la imagen y su descripción están visibles, ocultarlas
              expandedImage.slideUp();
            } else {
              // Si no están visibles, ocultar todas las imágenes y descripciones
              $(".expanded-image").slideUp();
              expandedImage.slideDown(); // Mostrar la imagen y descripción correspondiente
            }
          });
        });
      </script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>