<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="..\static\css\historia.css">
    <title>Nosotros</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@200&display=swap" rel="stylesheet">
</head>
<body>

    <!-- Contenedor del video -->
    <div class="video-container">
        <video id="miVideo" controls autoplay onended="reiniciarVideo()">
            <source src="..\static\css\assets\video1.mp4" type="video/mp4">
        </video>
    </div>

    <div class="contenedor-imagen">
        <button class="btn1" onclick="redirigirAVideo()"> CONTINUAR ...</button>
        <div class="imagen">
            <img src="..\static\css\assets\constelaciones.png" alt="">
        </div>
    </div>
    

    <script>
        var video = document.getElementById('miVideo');

        function reiniciarVideo() {
            video.currentTime = 0; 
            video.play(); 
        }

        window.onload = function() {
            video.play();
        };

        function redirigirAVideo() {
            window.location.href = "video.html";
        }
    </script>

</body>
</html>
